@using Todo.Data.Entities
@using Todo.Models.TodoItems
@using Todo.Services
@model TodoItemSummaryViewmodel

@{
    string contextualClasses = (Model.IsDone ? "item-done " : string.Empty);

    switch (Model.Importance)
    {
        case Importance.High:
            contextualClasses += "list-group-item-danger";
            break;
        case Importance.Low:
            contextualClasses += "list-group-item-info";
            break;
        default:
            contextualClasses += "";
            break;
    }
}

<li class="list-group-item @contextualClasses">

    <div class="row">
        <div class="col-md-1">
            <small>
                @Model.Rank
            </small>
        </div>
        <div class="col-md-5">
            <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@Model.TodoItemId">

                @if (Model.IsDone)
                {
                    <s>@Model.Title</s>
                }
                else
                {
                    <text>@Model.Title</text>
                }
            </a>
        </div>

        <div class="col-md-6 text-right">
            <div class="content-gravatar-partial" data-email="@Model.ResponsibleParty.Email">
                <img src="~/images/loading.gif" width="20px" alt="Loading data, please wait" />
            </div>
        </div>
    </div>
</li>